## Web scraping from stats.nba.com

- I want to scrape each Quarter of the 2019/2020 NBA season
 - into 4 seperate dataframes
 - e.g. dataframe2 contain all the 2nd quarters of every game played in the season
- stats.nba.com is a JavaScript website so I will use selenium

In [36]:
from pandas.io.html import read_html
import numpy as np
import pandas as pd
from selenium import webdriver

In [53]:
#Set the webdriver

driver=webdriver.Chrome("C:/ProgramData/chromedriver.exe")

In [54]:
#I filter through every quarter.
#After the webdriver goes onto the target site, we set the driver to wait 10 seconds (to avoid errors).
#Now with the xpath, the driver can select "All" in the page dropdown. This display all rows of the table on one page.
#Through the class id, the driver can find this table. 
#Then convert the table from JavaScript to Html.
#Now pandas can convert it to a Dataframe
#At the end the dataframe, will be added to the empty dictionary

df={}
for i in range(1,5):
    driver.get("https://stats.nba.com/teams/boxscores-traditional/?Season=2019-20&SeasonType=Regular%20Season&Period="+str(i))
    driver.implicitly_wait(10)
    all_pages=driver.find_element_by_xpath("/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[1]/div/div/select/option[1]")
    all_pages.click()
    table=driver.find_elements_by_class_name("nba-stat-table")
    table_html = table[0].get_attribute('innerHTML')
    df[i] = read_html(table_html)[0]
    
driver.quit()

In [59]:
#control of the data:
#The data looks good, organized and clean
#only some data cleaning is necessary

df[1].head()

,Team,Match Up,Game Date,Season,W/L,MIN,PTS,FGM,FGA,FG%,...,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-
0,PHI,PHI vs. DET,03/11/2020,NaN,W,12,34,12,21,57.1,...,85.7,2,9,11,8,2,1,4,3,5
1,DET,DET @ PHI,03/11/2020,NaN,L,12,29,10,22,45.5,...,100.0,1,7,8,6,2,2,0,6,-5
2,ATL,ATL vs. NYK,03/11/2020,NaN,L,12,24,9,28,32.1,...,75.0,5,10,15,5,3,1,1,5,-9
3,DAL,DAL vs. DEN,03/11/2020,NaN,W,12,33,11,24,45.8,...,100.0,4,10,14,6,2,1,1,2,4
4,MIA,MIA vs. CHA,03/11/2020,NaN,L,12,40,16,19,84.2,...,0.0,0,7,7,13,5,4,5,4,18

In [57]:
NBA_1st=df[1]
NBA_2nd=df[2]
NBA_3rd=df[3]
NBA_4th=df[4]

In [58]:
#Saved the dataframes to a csv file

NBA_1st.to_csv("NBA_1st.csv",index = False)
NBA_2nd.to_csv("NBA_2nd.csv", index = False)
NBA_3rd.to_csv("NBA_3rd.csv", index = False)
NBA_4th.to_csv("NBA_4th.csv", index = False)