## Web scraping from stats.nba.com

In [1]:
from pandas.io.html import read_html
import numpy as np
import pandas as pd
from selenium import webdriver

In [12]:
#Set the webdriver

driver=webdriver.Chrome("C:/ProgramData/chromedriver.exe")

In [3]:
#The target website, where you can find all kind of stats about the league
#First, I want the advanced box score stats from all games in the 2019/2020 season

driver.get("https://stats.nba.com/teams/boxscores-advanced/?Season=2019-20&SeasonType=Regular%20Season")

In [5]:
#The website has 39 pages, 50 rows per page
#There is a dropdown to select the pages, but it has also the option "All" to show all rows in one page
#So in the elements I copied the xpath for the dropdown selection "All" 

all_pages=driver.find_element_by_xpath("/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[1]/div/div/select/option[1]")

In [6]:
#Now we can start to scrape
#After execute the code: the webdriver is selecting all pages in the dropdown
#then the webdriver finds the table,
#convert the table from JavaScript to Html.
#now pandas can convert it to a Dataframe

all_pages.click()
table=driver.find_elements_by_class_name("nba-stat-table") #from the elements, the class name of the table
table_html = table[0].get_attribute('innerHTML')
df = read_html(table_html)[0]
    
driver.quit()

In [7]:
#control of the data:
#The data looks good, organized and clean
#only little data cleaning necessary

season_2019=df
season_2019.head()

,Team,Match Up,Game Date,Season,W/L,MIN,OffRtg,DefRtg,NetRtg,AST%,AST/TO,ASTRatio,OREB%,DREB%,REB%,TOV%,eFG%,TS%,PACE,PIE
0,DAL,DAL vs. DEN,03/11/2020,NaN,W,48,114.1,98.0,16.2,54.8,2.09,16.8,30.2,91.1,58.2,11.1,52.2,55.3,99.0,57.0
1,MIA,MIA vs. CHA,03/11/2020,NaN,L,48,107.7,118.5,-10.8,82.1,2.29,24.1,21.7,60.9,41.3,15.4,55.4,56.6,91.5,46.7
2,CHA,CHA @ MIA,03/11/2020,NaN,W,48,118.5,107.7,10.8,54.1,1.43,15.4,39.1,78.3,58.7,15.2,55.5,59.4,91.5,53.3
3,DET,DET @ PHI,03/11/2020,NaN,L,48,111.6,131.9,-20.3,64.1,2.78,19.1,22.0,60.0,40.0,9.5,53.0,55.8,94.5,40.5
4,NYK,NYK @ ATL,03/11/2020,NaN,W,53,116.2,114.9,1.3,64.0,2.67,20.5,16.7,69.4,46.4,10.3,59.0,62.4,104.6,57.6

In [8]:
#the data is also complete, scraped all rows and columns

season_2019.shape

(1942, 20)

In [14]:
#The same steps are for the 4th Quarter stats
#Only now I selected the 4th Quarter filter at the website manually and copied the new Url

driver.get("https://stats.nba.com/teams/boxscores-advanced/?Season=2019-20&SeasonType=Regular%20Season&Period=4")
all_pages_4Q=driver.find_element_by_xpath("/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[1]/div/div/select/option[1]")
all_pages_4Q.click()
table=driver.find_elements_by_class_name("nba-stat-table")
table_html = table[0].get_attribute('innerHTML')
df = read_html(table_html)[0]
    
driver.quit()

In [17]:
season_2019_4Q=df
season_2019_4Q.head()

,Team,Match Up,Game Date,Season,W/L,MIN,OffRtg,DefRtg,NetRtg,AST%,AST/TO,ASTRatio,OREB%,DREB%,REB%,TOV%,eFG%,TS%,PACE,PIE
0,ATL,ATL vs. NYK,03/11/2020,NaN,L,12,160.0,88.0,72.0,53.8,1.40,20.0,37.5,92.9,72.7,20.0,81.6,83.9,100.0,85.9
1,NYK,NYK @ ATL,03/11/2020,NaN,W,12,88.0,160.0,-72.0,25.0,2.00,7.1,7.1,62.5,27.3,4.0,47.4,47.0,100.0,14.1
2,CHA,CHA @ MIA,03/11/2020,NaN,W,12,104.8,105.0,-0.2,42.9,1.50,11.1,25.0,85.7,57.7,9.5,50.0,53.3,82.0,54.1
3,MIA,MIA vs. CHA,03/11/2020,NaN,L,12,105.0,104.8,0.2,71.4,0.00,18.5,14.3,75.0,42.3,0.0,42.9,47.0,82.0,45.9
4,PHI,PHI vs. DET,03/11/2020,NaN,W,12,113.6,100.0,13.6,70.0,2.33,21.2,36.4,91.7,65.2,13.6,54.8,57.1,88.0,57.9

In [15]:

season_2019_4Q.shape

(1942, 20)

In [16]:
#Saved the dataframes to a csv file

season_2019.to_csv("season_2019.csv",index = False)
season_2019_4Q.to_csv("season_2019_4Q.csv", index = False)